.navbar-main {
  background: $dark;
  color: $light;
  /* Grid from app-main */
  grid-column: 1/2;
  grid-row: 1/2;
  .navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 40px;
    }
    ul {
      list-style: none;
      li {
        display: inline;
        margin: 0 20px;
        font-size: 25px;
      }
    }
    .button-container {
      button {
        padding: 10px 20px;
        margin-left: 20px;
        background: transparent;
        border: 2px solid $light;
        color: $light;
        border-radius: 10px;
        font-size: 15px;
      }
      button:hover {
        background: $light;
        color: $dark;
        transition: all 0.25s ease-out;
      }
    }
  }
}
