.products-main {
  padding: 20px 0;
  /* Grid from app-main */
  grid-column: 1/2;
  grid-row: 2/3;
  .products-container {
    width: 80%;
    height: 100%;
    margin: auto;
    .products {
      .buttons {
        margin-bottom: 50px;
        margin-top: 20px;
        button {
          padding: 10px 20px;
          margin-right: 20px;
          background: transparent;
          border: 2px solid $dark;
          border-radius: 10px;
          font-size: 15px;
        }
        button:hover {
          background: $dark;
          color: $light;
          transition: background, color 0.25s ease-out;
        }
      }
      .cards-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        .product-cards {
          width: 300px;
          height: 350px;
          text-align: center;
          button {
            padding: 10px 20px;
            background: $dark;
            border-radius: 10px;
            border: 1px solid #fff;
          }
        }
      }
    }
  }
}
